{% assign phonenum = site.data.data.phone %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>My Resume</title>
      <link rel="stylesheet" href="css/master.css">
</head>
<body>
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="#">Resume</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><a href="#aboutme">About Me</a></li>
                              <li><a href="#education">Education</a></li>
                              <li><a href="#seminars">Seminars</a></li>
                              <li><a href="tel:phonenum">Contact</a></li>
                        </ul>
                  </div>
            </nav>
      </div>
</body>
</html>
